.inner_container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.right_container{
    width: 50vw;
}

.form_header{
    margin-left: 10%;
}

.form_header h1{
font-size: 1.7vw;
margin-left: 12%;
}

.form_header p {
    margin-top: -0.6vw;
    font-size: 0.85vw;
    margin-left: 2vw;
}

.form_container{
    margin: auto;
    width: 70%;
}

.form_body{
    margin-top: 7%;
}

.form_group{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    /* margin-left: 25%; */
}

.signin_btn{
    color: #fff;
    padding: 0.7vw;
    background: #277f6a none;
    border: 1px solid #d8dbdc;
    border-radius: 2.3em;
    width: 30%;
    font-weight: 600;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 25%;
    cursor: pointer;
}

.validate_err{
    font-size: 0.6vw;
    color: red;
    margin-bottom: 1%;
    text-align: left;
}